<configuration debug="false">
	<!-- definition of appender STDOUT -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.http.level" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit" level="OFF" />
	<logger name="net.sourceforge.jwebunit.junit.JWebUnit" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit.javascript.StrictErrorReporter" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.ActiveXObject" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.html.HTMLDocument" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit.html.HtmlScript" level="OFF" />
	<logger name="java.util" level="OFF" />
	<root level="ERROR">
		<!-- appender referenced after it is defined -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>