* {
margin:0;
padding:0;
}

body {
background-color:#FFF;
color:#036;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:400;
line-height:16px;
margin:0;
padding:0;
}

#nav {
border-left:20px none;
color:#666;
font-family:'Trebuchet MS','Lucida Grande',Arial,Sans-Serif;
font-size:11px;
font-weight:700;
}

#top {
width:100%;
background:#fff;
}
#user a {padding:0 5px;}

#search {
background:#F5F5F5;
font-size:11px;
border-color:#BBB #669;
border-style:solid;
border-width:1px 0;
height:23px;
}

#search span, input { margin-top:2px;}
#search img { margin-left:4px;}
#search > div {
float:right;
margin-right:50px;
background:#fff;
height:23px;
padding:0 10px;
border-right:1px solid #D8D8D8;
border-left:1px solid #D8D8D8;
}
#search div * {margin-right:2px;margin-left:2px;}
.button {  background-color: #DEDEDE;
    background-position: 50% 0;
    background-repeat: repeat-x;
    border: 1px solid #ACACAC;
    color: #000000;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 19px;
    padding-bottom: 1px;}

a {
color:#036;
text-decoration:none;
}
a:hover {
    color: #EBAF01;
}
#nav span a {
color:#4B352C;
text-decoration:none;
text-transform:capitalize;
padding:0 10px;
}

#nav span a:hover {
background-color:#F5F5F5;
color:#EBAF01;
}

#nav div {
background-color:#F5F5F5;
display:none;
margin:0;
}

#nav div span {
font-size:11px;
font-weight:700;
text-decoration:none;
text-transform:capitalize;
vertical-align:top;
margin:0;
}

#nav div span u {
text-decoration:none;
padding:0 2px;
}

#nav div span a,#nav div span u {
border-bottom:4px solid #3A487C;
color:#3A487C;
margin:0;
padding:0 6px;
}

#nav div span a:hover {
background-color:#F5F5F5;
color:#EBAF01;
border-bottom:4px solid #EBAF01;
}

#title {
border:1px solid #AAA;
font-size:14px;
font-weight:700;
margin:4px 20px;
padding:4px;
}

#side {
background:#E0E0E8;
overflow:visible;
width:190px!important;
vertical-align:top;
padding:10px 0;
}

#content {
width:100%;
padding:8px 10px 10px 20px;
}

#login-demo {
	width:740px; text-align:justify; padding:10px;
}
#login-demo p {
	margin:10px 5px;
}
#login-demo ul {
	margin-left:60px;
}

#main {
background:#f5f5f5;
border:1px solid #005CAB;
border-collapse:collapse;
margin:0 20px 20px 20px;
}

#main * {
vertical-align:top;
}
#main div.dataentry * {
	vertical-align:middle;
}

#side div {
position:relative;
}

.tableContainerOuter {
background-color:#FFF;
border:1px solid #B5B6B5;
margin:5px 0 10px 0;
padding:5px 0 0;
}

div.dataTitle {
background-color:#EFCE6C;
background-position:right center;
background-repeat:no-repeat;
color:#666;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:700;
margin-bottom:5px;
text-align:left;
padding:2px;
}

.tableContainerInner {
margin:0 5px;
}
.tableContainerInner fieldset {
	padding-left:5px;
}
.Sum1 {
    background-color: #007D4C;
    height: 1px;
}
div.addNew {
    text-align: right;
}

h2, legend, legend a {
color:#005CAB;
font-size:14px;
font-weight:700;
position:relative;
margin:10px 0;
}
legend {margin-left:10px; display:inline;margin: 5px 0 3px 10px;}
fieldset {padding:0 10px 10px 0;}

#home {margin:2px 0;width:780px;}
#homeheader div, div.title {width:243px; }
div.homecontainer { width:248px; }
div.hometitle, #homeheader div {
	display:block; 
	min-height:20px; 
	color: #666666; 
    font-family: 'Trebuchet MS','Lucida Grande',Arial,Sans-Serif; 
    font-size: 14px; 
    font-weight: bold; 
    padding:0 0 0 5px; 
    line-height:20px; 
}
div.homeitems {
	background-color:#DEE1E7; padding:9px 10px;display:inline-block;width:228px;
}
#homeheader div, div.homecontainer { display:inline-block; vertical-align: top;}

span.inprogress-date { display:inline-block;width:190px;} 
#belowHome { width:750px; text-align:center;} 
#belowHome p {margin-top:10px;} 


div.datatitle {
	background-color: #EFCE6C;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px 2px 2px 5px;
}

div.tableOuter {
border:1px solid #B5B6B5;
margin:0 0 10px;
}

div.tableOuter table {
background-color:#FFF;
width:100%;
}

div.tableOuter table tbody tr:hover {
	background-color:#EFCE6C
}

table.border-bottom-green {
	border-bottom:solid 1px green;
}

th {
background-color:#FFF;
border-bottom:2px solid #333;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-weight:700;
text-align:right;
padding:2px;
}

.left, div.tableOuter table td.left, th.left {
text-align:left;
}

.centered {
text-align:center;
}

div.tableOuter table td {
padding-right:2px;
text-align:right;
}

table td a {
	cursor:pointer;
}

.even {
background-color:#FFF;
}

.odd {
background-color:#F0F0F0;
}

#side div.inactive {
top:0;
background-color:#E0E0E8;
border:0 none;
height:20px;
left:0;
width:190px;
margin:20px 0;
}

#side div.active {
background-color:#f5f5f5;
height:80px;
left:-10px;
overflow:visible;
position:relative;
width:210px;
border-color:#005CAB #F5F5F5 #005CAB #005CAB;
border-style:solid;
border-width:1px;
}

#side div.active label {
background-color:#005CAB;
top:25px;
}

#side div.active label span {
color:#fff;
font-weight:700;
font-size:13px;
left:6px;
top:0;
}

#side div > span {
display:block;
color:#3A487C;
font-size:14px;
font-weight:700;
height:16px;
left:18px;
top:3px;
position:absolute;
}

#side div.active > span {
top:28px;
color:#005cab;
}

#side label {
background-color:#fff;
border:1px solid #005CAB;
top:0;
border-radius:4px 4px 4px 4px;
display:block;
height:20px;
left:-10px;
position:relative;
text-align:center;
width:20px;
padding:0;
}

#side label span {
display:block;
font-size:13px;
color:#005cab;
margin:2px 0 0;
}

#side div a span {
color:#3A487C;
cursor:pointer;
font-size:14px;
font-weight:700;
left:18px;
top:3px;
display:block;
position:absolute;
text-align:left!important;
text-decoration:none;
height:16px;
}

#content ul { margin:10px 30px;}

span.calcSign {
	display:inline-block;
	line-height: 2em;
	margin-left:2px;
}

div.dataentry input, div.dataentry textarea, div.dataentry select, div.dataentry checkbox {
    color: #003366;
    font-size: 11px;
    font-weight: normal;
    padding-left: 0.2em;
}
div.dataentry input, div.dataentry textarea {	
    border: 1px solid #003366; 
}


div.dataentry span {
	line-height: 2em;
}

input.text {
    height: 1.7em;
    padding: 0 0.5em;
}

input.num {
    color: #000066;
    height: 1.7em;
    padding-right: 0.5em;
    text-align: right;
    width: 8em;
    border-left:none !important;
}

input.curlabel {
	background-color:#fff;
	border-right:none !important; 
	width:5em;
	height: 1.7em;
	padding:0 4px;
	margin-right:-3px;
}
input.readonly {
    background-color: #E0E0E8 !important;
    border-color: #E0E0E8 !important;
}
#refItemChooser {
	margin:20px; width:340px;
}
#submit, button.submit {
	background:#000066;
	color:#fff;
	border:0;
	font-family: Arial,Helvetica,sans-serif;
	display: block;
	text-align:right;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    white-space: nowrap;
    width: 340px;
    cursor:pointer;
}
#submit:active, #submit:focus, #submit:hover {
	color:#EFCE6C;
}
#nosubmit {
	background-color: #CCCCCC;
    color: #999999;
    display:block;
	margin: 10px 0;
    width: 320px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
    width: 320px;
}
#submit-disabled {
	width: 320px;;
	color: #999999;
    font-size: 11px;
    text-align: left;
    padding-right:20px;}


div.dataentry {
	margin:0 0 3px 10px;
}
div.dataentry label {
	font-weight:bold;
	display:inline-block;
	width: 200px;
	line-height: 2em;
}

#main div.dataentry img {
	margin:5px 2px 0 0;
	vertical-align:top;
}

div.datadivider {margin-left:10px;height:3px;}
div.green {background-color:#007D4C;}
div.red {background-color:#FF0000;}
div.blue {background-color:#1D2864;}
div.orange {background-color:#FF8400;}
span.errorMsg {
	display:block;
	color:red;
}
#errorbox {
    background-color: #FAF5F5;
    border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    padding: 2px 4px 4px;
    text-align: left;
    width: 98%;
    margin-bottom:10px;}
#errorbox div {
	color: #E44F3C;
    font-family: 'Trebuchet MS','Lucida Grande',Arial,Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
}
#errorbox ul {
	margin-left:20px;
}
div.error {color:red;margin:0 0 0 20px;}
span.error { color:red; }

#searchForm .hidden {display:none;}
div.filter-head {text-align:right;font-weight:bold;border-right:10px solid #EBAF01;padding-right:5px;}
div.filter-head img {float:left;}
div.filter-body {padding:0 20px;font-weight:bold;}
div.filter-body div { display:inline-block; width:210px;}
div.filter-body select {width:160px}
div.financial div {display:block; width:100%;}
div.financial span {display:inline-block;width:210px;}
div.financial select {margin-right:50px;}

#download-dialog ul {
	margin:5px 0 0 14px;
}

td.production-year {font-size : 11px; text-align:center; padding: 0 7px;}

#uploader-button { margin-bottom:10px; }
#uploader-error, .alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#upload-dialog { 
	background-color: #fff;
}
#upload-dialog p {
	margin:5px 20px 10px 5px;
	text-align: justify;
}
#upload-dialog ol {
	margin-left:25px;
}

li.qq-upload-fail {
	color:#E44F3C !important;
	background-color: #FAF5F5 !important;
}

.ui-buttonset label {
	width:100px !important;
	font-size:1em;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 2px 8px;
	font-weight:normal;
	font-family: Arial,Helvetica,sans-serif;
}

div.summary { display:none;}
span.explain { padding:3px 5px; }
#firstYearSummary tr:first-child  > th, #firstYearSummary tr:nth-child(5), #firstYearSummary tr:nth-child(6) { font-weight:bold; }
td.highMonth, span.highMonth { border:1px solid red; }
th.period, span.period { background-color: #e63f42; }
#summaryContributions tfoot tr { font-weight:bold; }
#indicators td:first-child { font-weight:bold;text-align:left; }
#summaryBlocks tr:nth-child(3), #summaryBlocks tr:nth-child(4)  { font-weight:bold; }
#profitabilitySummary tbody tr:nth-child(4), #profitabilitySummary tbody tr:nth-child(5) { font-weight:bold; }

#multiyear input { border:1px solid #003366 !important; }
#multiyear input.error { border-color: red !important; }

#yearSelector span.yearBox { display:inline-block; border:1px solid #b5b6b5; margin:10px 4px 0 4px; width:25px; height:25px; background-color:#efce6c; text-align:center; }
#yearSelector span.selected { font-weight:bold; border:2px solid #036;}
#yearSelector span.yearBox a { display:block; margin:5px 0 0 0; }
#yearSelector span.yearBox:hover { background-color:#3a487c; }
#yearSelector span.yearBox:hover a { color:#efce6c; }
#yearSelector span.selected:hover,yearBox:hover { background-color:#efce6c; }
#yearSelector span.selected a { cursor:default; }
#yearSelector span.selected a:hover { color:#036; }

span.pagebanner { display:block; background-color:#fff; }
span.pagelinks { display:block; }
