<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers/>
  <mirrors/>
  <proxies/>
  <profiles>
  	 <profile>
  	 	<properties>
  	 		 <jdkPath>/usr/local/jvm/jdk1.6.0_30/bin</jdkPath>
  	 	</properties>
	    <activation>
	      <property>
	        <name>Target</name>
	        <value>Jenkins</value>
	      </property>
	     
	    </activation>
	  </profile>
  	
  </profiles>
  <activeProfiles/>
</settings>